.blue {
    border-bottom: 5px solid  blue;
}

.column {

}

.testSpanError {
    color: royalblue;
}

.wrap {
    text-align: center;
}
.wrapper {

    border-radius: 5px;
    margin: 20px;
    width: 400px;
    height: 300px;

    display:flex;
    flex-direction:column;
    justify-content:space-around;


    background-color: #333333;
}
