.someClass {

}
.gereating{
    display: flex;
    align-items: flex-start;
    height: 50px;
    margin: 10px;
}
.error {
/*    border: 1px solid red;*/
    color: red;

    margin: 10px;

}


.errorInput {
    border: 2px solid red
}

.input {
}